.banner {
  background-image: url(https://www.theagilityeffect.com/app/uploads/2020/02/00_VINCI-ICONOGRAPHIE_1280x680-GettyImages-478915838-512x272.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.heading {
  height: 90vh;
}
.heading-container h1 {
  color: #0084bd;
  font-weight: 900;
}
