.header a {
  text-decoration: none;
  margin-left: 10px;
  color: #9ae17b;
  font-weight: 900;
  padding: 10px 15px;
  font-size: 25px;
}
.header {
  margin: 20px;
}
.header button {
  text-decoration: none;
  margin-left: 10px;
  font-weight: 900;
  padding: 10px 15px;
  color: #9ae17b;
  font-size: 25px;
}
.header a:hover {
  transform: scale(1);
}
